---
import { css } from 'styled-system/css'
import Link from './shared/Link.astro'
import presentation from '@/data/presentation'
---

<ul
  role="list"
  class={css({
    display: 'flex',
    flexDir: 'row',
    gap: 2,
  })}
>
  {
    presentation.socials.map((social, index) => (
      <>
        <li>
          <Link href={social.link} label={social.label} css={css.raw({ fontWeight: 'bold', color: 'secondary' })} />
        </li>

        {presentation.socials.length - 1 !== index && <li>/</li>}
      </>
    ))
  }
</ul>
