---
import { EarthBackground } from '@/components/EarthBackground'
import SEOTags from '@/components/seo/SEOTags.astro'
import type { HeadTags } from '@/utils/types/HeadTags'

import { css } from 'styled-system/css'
import { container } from 'styled-system/patterns'

export type Props = HeadTags

const headTags = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags {...headTags} />

  <body
    class={container({
      mx: 'auto',
      display: 'flex',
      minH: 'screen',
      overflowY: 'scroll',
      maxW: '1080px',
      flexDir: 'column',
      gap: '9',
      bgColor: 'background',
      px: '10',
      py: '8',
      textStyle: 'sm',
      color: 'white',
      md: { gap: '12', pt: '16', pb: '16' },
    })}
  >
    <EarthBackground />

    <div class={css({ position: 'relative' })}><slot /></div>
    <style is:global>
      html {
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </body>
</html>
